#header-box {
  background-color: #223051;
  box-shadow: 13px 13px 20px #cbced1, -15px -30px 20px #ffffff;
  height: 50px;
  display: flex;
  justify-content: center;
  position: fixed;
  width: auto;
  top: 10px;
  left: 23px;
  right: 23px;
  z-index: 100;
}

#header-box:after {
  content: "";
  position: absolute;
  left: -13px;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 13px solid #223051;
}

#header-box:before {
  content: "";
  position: absolute;
  right: -13px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 13px solid #223051;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}

.logo {
  height: 25px;
  width: auto;
  display: block;
  margin: auto;
  margin-top: 14px;
  /* filter: brightness(0%); */
}

@media (max-width: 700px) {
  .logo {
    height: 17px;
    margin-top: 9.5px;
  }

  #header-box {
    height: 34px;
    box-shadow: 0px 0px 0px #4a5057, 0px 0px 0px #434b5f;
  }

  #header-box:before {
    right: -10px;
    border-left: 10px solid #223051;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
  }

  #header-box:after {
    left: -10px;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-right: 10px solid #223051;
  }
}
