.team-background {
  width: 100%;
  background-color: #334464;
  /* background: linear-gradient(144deg, #c7daa9, #435187); */
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  position: relative;

  /* margin-top: -15%;
  padding-bottom: -50px; */
}

/* style for old team heading,
display now set to none - used as a spacer in photo grid */
.spi-team-heading {
  position: absolute;
  display: none;
}

/* styling for diamond grid */
:root {
  --columns: 3;
}

ul {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  /* grid-auto-rows: 1fr; */
  padding-left: 0;
}

li {
  grid-column-end: span 2;
  position: relative;
  top: 0;
  left: 50%;
  right: auto;
  bottom: 0;
  width: 50%;
  height: 50%;
  padding-bottom: 50%;
  margin-top: 0;
  list-style-type: none;
}

li:nth-child(2n) {
  grid-column-start: 2;
}

/* @media (max-width: 700px) {
  li {
    width: 45%;
    height: 45%;
  }
} */

@media (max-width: 450px) {
  ul {
    margin: 20px 40px;
  }
}

@media (min-width: 450px) {
  ul {
    margin: 0px 100px;
  }
}

@media (min-width: 570px) {
  ul {
    margin: 0px 150px;
  }
}

@media (min-width: 600px) {
  :root {
    --columns: 5;
  }
  li:nth-child(2n) {
    grid-column-start: auto;
  }
  li:nth-child(4n-1) {
    grid-column-start: 2;
  }
  ul {
    margin: 0px 110px;
  }
}

@media (min-width: 900px) {
  :root {
    --columns: 7;
  }
  li:nth-child(4n-1) {
    grid-column-start: auto;
  }
  li:nth-child(6n-2) {
    grid-column-start: 2;
  }
  ul {
    margin: 0px 150px;
  }
}

@media (min-width: 1200px) {
  :root {
    --columns: 9;
  }
  li:nth-child(6n-2) {
    grid-column-start: auto;
  }
  li:nth-child(8n-3) {
    grid-column-start: 2;
  }
}

@media (min-width: 1500px) {
  :root {
    --columns: 11;
  }
  li:nth-child(8n-3) {
    grid-column-start: auto;
  }
  li:nth-child(10n-4) {
    grid-column-start: 2;
  }
}

@media (min-width: 1800px) {
  :root {
    --columns: 13;
  }
  li:nth-child(10n-4) {
    grid-column-start: auto;
  }
  li:nth-child(12n-5) {
    grid-column-start: 2;
  }
}

@media (min-width: 2100px) {
  :root {
    --columns: 15;
  }
  li:nth-child(12n-5) {
    grid-column-start: auto;
  }
  li:nth-child(14n-6) {
    grid-column-start: 2;
  }
}
