.worked-with {
  width: 100vw;
  height: 250px;
  position: relative;
  display: flex;
  background-color: #334464;
  /* background: linear-gradient(144deg, #c7daa9, #435187); */
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;

  align-items: center;
  justify-content: center;
  text-align: center;
}

.worked-with img {
  position: relative;
  display: inline-block;
  margin: 40px;
  height: 50px;
  width: auto;

  filter: saturate(0%) brightness(20%) invert(100);
}
